body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 80px;

}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.pretty-girl {

    background-image: url(images/shapes/7.png);
    text-align: justify;

}

.recipie-title {
    box-shadow: 10px 10px 40px palegreen;
    width: 50%;
    margin-left: 30px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 50px;

}

.my-recipies {
    text-align: center;

}

h3 {
    font-weight: 900 bold;
}

footer {
    text-align: center;
}

h4 {
    color: orange;
}